.movie-preview-cont {
    z-index: 999;

    .banner-cont {
        background: linear-gradient(0deg,#181818,transparent 50%);
    }
    a:hover {
        text-decoration: underline;
        background-color: red($color: #000000);
    }
}