
.px-5p {
    padding: 0 5%;
}

mx-75 {
    margin: 0 75px;
}

input {
    outline: none;
}

.font-13 {
    font-size: 13px;
}

body {
    background-color: black;
}
//footer 
.footer {
    .footer-cont {
        max-width: 900px;
    }
}
//Home Page 
.hm-page {
    .main-box {
        max-width: 750px;
    }
    .input-cont {
        max-width: 500px;
        height: 50px
    }
    .button-cont {
        max-width: 130px;
        &:hover {
            background-color: $primary;
        }
    }
    .b-opacity {
        background-image: linear-gradient(0deg,rgba(0,0,0,.8) 0,transparent 40%,transparent 75%,rgba(0,0,0,.8));
    }
}

//Log In page
.lg-page {
    .form-cont {
        min-height: 550px;
    }
    .footer-cont {
        max-width: 1000px;
        min-height: 220px;
    }
}

.menu-logo {
    width: 88px;
    height: 100%;
}
.login-logo {
    width: 74px;
    height: 100%;
}

// browse Page
.bw-page {
    margin-top: 100px;
}

@media (min-width: map_get($grid-breakpoints, sm)) {
    .menu-logo {
        width: 108px;
    }

    .login-logo {
        width: 167px;
        height: 100%;
    }
}

@media (min-width: map_get($grid-breakpoints, md)) {
    .lg-page {
        .form-cont {
            width: 450px;
            min-height: 630px;
            margin-bottom: 90px;
        }
    }
}
@media (min-width: map_get($grid-breakpoints, lg)) {
    .menu-logo {
        width: 134px;
    }
}
@media (min-width: map_get($grid-breakpoints, lg)) {
    //Home Page
    .hm-page {

        .button-cont {
            max-width: 212px;
        }
    }
}

@media (min-width: map_get($grid-breakpoints, xxl)) {
    .menu-logo {
        width: 167px;
    }
    //Home page
    .hm-page {
        .input-cont {
            height: 70px;
        }
    
        .button-cont {
            height: 70px;
        }

    }
}

@import "../../node_modules/bootstrap/scss/variables"