
.px-5p {
    padding: 0 5%;
}


@media (min-width: map_get($grid-breakpoints, xs)) {
    //Home Page 
    .hm-page {

    }
    
    //Log In page
    .lg-page {
        .font-13 {
            font-size: 13px;
        }
        .form-cont {
            min-height: 550px;
        }

        .footer-cont {
            max-width: 1000px;
            min-height: 220px;
        }
    }

    .menu-logo {
        width: 88px;
        height: 100%;
    }
    .login-logo {
        width: 74px;
        height: 100%;
    }
}

@media (min-width: map_get($grid-breakpoints, sm)) {
    .menu-logo {
        width: 108px;
    }

    .login-logo {
        width: 167px;
        height: 100%;
    }
}

@media (min-width: map_get($grid-breakpoints, md)) {
    .lg-page {
        .form-cont {
            width: 450px;
            min-height: 630px;
            margin-bottom: 90px;
        }
    }
}
@media (min-width: map_get($grid-breakpoints, lg)) {
    .menu-logo {
        width: 134px;
    }
}

@media (min-width: map_get($grid-breakpoints, xxl)) {
    .menu-logo {
        width: 167px;
    }
}

@import "../../node_modules/bootstrap/scss/variables"