
$primary: gray;
$danger: #e50914;
$secondary: #8c8c8c;
$dark: #333;
$warning: #e87c03;
$info: #0071eb;

@import "../node_modules//bootstrap/scss/bootstrap.scss";
@import "./pages/page.scss";

@each $br-key, $br-value in $grid-breakpoints {
  @include media-breakpoint-up($br-key) {
    @each $fs-key, $fs-value in $font-sizes {

        .fs-#{$br-key}-#{$fs-key} {
            font-size: $fs-value
        }
    }
  }
}
